<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubleblacksoftware.caloriecounter" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/foodscale"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEntryActivity" android:label="Add Entry" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".EditEntryActivity" android:label="Edit Entry" android:windowSoftInputMode="stateHidden|adjustResize" />
        <provider android:name="com.doubleblacksoftware.caloriecounter.CalorieDataProvider"
            android:authorities="com.doubleblacksoftware.caloriecounter">
        </provider>
        <receiver android:name=".CalorieCounterWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>
